{% extends "SitProjectApp/base.html" %}

{% block title %}Detalle del Cliente{% endblock %}

{% block content %}

<section class="page-section">
  <h2 class="fw-bold mb-4">Detalle del Cliente</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_nombre" class="form-label fw-semibold">Nombre</label>
      {{ form.nombre }}
    </div>
    <div class="mb-3">
      <label for="id_apellido" class="form-label fw-semibold">Apellido</label>
      {{ form.apellido }}
    </div>
    <div class="mb-3">
      <label for="id_email" class="form-label fw-semibold">Email</label>
      {{ form.email }}
    </div>
    <div class="mb-3">
      <label for="id_telefono" class="form-label fw-semibold">Telefono</label>
      {{ form.telefono }}
    </div>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-success px-4 me-2">
          <i class="bi bi-save"></i> Guardar Cambios
        </button>
        <a href="{% url 'SitProjectApp:cliente_list' %}" class="btn btn-secondary px-4">
          <i class="bi bi-x-circle"></i> Cancelar
        </a>
      </div>
</section>
{% endblock %}