{% extends "SitProjectApp/base.html" %}

{% block title %}Detalle del Cliente{% endblock %}

{% block content %}

<section class="page-section">
  <h2 class="fw-bold mb-4">Detalle del cliente</h2>
  <ul>
    <li><strong>ID:</strong> {{ cliente.id }}</li>
    <li><strong>Nombre:</strong> {{ cliente.nombre }}</li>
    <li><strong>Apellido:</strong> {{ cliente.apellido }}</li>
    <li><strong>Email:</strong> {{ cliente.email }}</li>
    <li><strong>telefono:</strong> {{ cliente.telefono }}</li>
    <li><strong>Fecha de creación:</strong> {{ cliente.fecha_de_creacion|date:"d/m/Y H:i" }}</li>
  </ul>
    <a href="{% url 'SitProjectApp:cliente_list' %}" class="btn btn-secondary">Volver al Listado</a>
</section>
{% endblock %}
