{% extends "SitProjectApp/base.html" %}

{% block title %}Borrado de Servicio{% endblock %}

{% block content %}

<section class="page-section">
  <h2 class="fw-bold mb-4">Datos del servicio que se desea eliminar</h2>
  <ul>
    <li><strong>ID:</strong> {{ servicio.id }}</li>
    <li><strong>Tipo:</strong> {{ servicio.tipo_servicio }}</li>
    <li><strong>Descripcion:</strong> {{ servicio.descripcion }}</li>
    <li><strong>Precio:</strong> {{ servicio.precio }}</li>
    <li><strong>Fecha de creación:</strong> {{ servicio.fecha_de_creacion|date:"d/m/Y H:i" }}</li>
  </ul>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger px-4 me-2">
        <i class="bi bi-trash"></i> Confirmar Borrado
      </button>      
    <a href="{% url 'SitProjectApp:servicio_list' %}" class="btn btn-secondary">Cancelar</a>
</section>
{% endblock %}
